<a [routerLink]="['/admin']" class="button">Quay Lại</a>


<div class="display-data">

    <p> Họ Và Tên: {{this.personDetail.lastName + " " + this.personDetail.firstName || "Chưa Cập Nhật"}}  </p>
    <p> Giới Tính: {{this.personDetail.gender || "Chưa Cập Nhật"}}  </p>
    <p> CMND/CCCD: {{this.personDetail.idCard || "Chưa Cập Nhật"}}</p>
    <p> Số Điện Thoại: {{this.personDetail.phoneNumber || "Chưa Cập Nhật"}} </p>
    <p> Email: {{this.personDetail.email}} </p>
    <p> Chiều Cao: {{this.personDetail.healthRecord.height || "Chưa Cập Nhật"}} </p>
    <p> Cân Nặng: {{this.personDetail.healthRecord.weight || "Chưa Cập Nhật"}} </p>
    <p> Sinh Đôi: {{this.personDetail.healthRecord.isTwin || "Chưa Cập Nhật"}}  </p>
    <p> Được Nhận Nuôi: {{this.personDetail.healthRecord.isAdopted || "Chưa Cập Nhật"}} </p>
    <p> Tuổi Có Kinh Đầu: {{this.personDetail.healthRecord.firstPeriodAge || "Chưa Cập Nhật"}}  </p>
    <p> Số Lần Mang Thai {{this.personDetail.healthRecord.birthControl || "Chưa Cập Nhật"}}  </p>
    <p> Khoảng Thời Gian Dùng Thuốc Tránh Thai: {{this.personDetail.healthRecord.pregnantTime || "Chưa Cập Nhật"}} </p>
    <p> Tuổi Có con Đầu Tiên: {{this.personDetail.healthRecord.firstBornAge || "Chưa Cập Nhật"}}  </p>
    <p> Hút Thuốc: {{this.personDetail.healthRecord.isSmoke || "Chưa Cập Nhật"}}  </p>
    <p> Từng Hút Thuốc Năm Bao Nhiêu Tuổi:{{this.personDetail.healthRecord.smokeTime || "Chưa Cập Nhật"}}  </p>
    <p> Bỏ Thuốc Năm Bao Nhiêu Tuổi: {{this.personDetail.healthRecord.giveUpSmokeAge || "Chưa Cập Nhật"}}  </p>
    <p> Mỗi Tuần Uống Bao Nhiêu Ly Rượu: {{this.personDetail.healthRecord.wineVolume || "Chưa Cập Nhật"}}  </p>
    <p> Số lần Tập Thể Dục Mỗi Tuần: {{this.personDetail.healthRecord.workOutVolume || "Chưa Cập Nhật"}} </p>
    <p>Bộ Môn Thể Thao:{{this.personDetail.healthRecord.workOutType || "Chưa Cập Nhật"}}  </p>
    <p>Danh Sách Bệnh:</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nhóm Bệnh</th>
            <th scope="col">Tên Bệnh</th>
            <th scope="col">Tuổi Lúc Chuẩn Đoán </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of this.personDetail.healthRecord.illnessList">
            <td>{{employee.code ||"Chưa cập Nhật"}}</td>
            <td *ngIf="employee.illName !== 'Khác' "> {{employee.illName||"Chưa cập Nhật"}} </td>
            <td *ngIf="employee.illName === 'Khác' "> {{employee.illNameOther||"Chưa cập Nhật"}} </td>
            <td>{{employee.age_detected||"Chưa cập Nhật"}}</td>
      
          </tr>
          
        </tbody>
      </table>
      <span>Danh Sách Thân Nhân</span>
      <div *ngFor="let employee of this.personDetail.relativeList; let i = index" > 
        <h4>Thân Nhân {{i +1}}</h4>
        <p>Mối Quan Hệ: {{employee.relation}}</p>
        <p>Họ Tên: {{employee.name}}</p>
        <p>Tuổi: {{employee.age}}</p>
        <p>Giới Tính: {{employee.gender}}</p>
        <p>THứ Tự Trong Gia Đình: {{employee.familyOrder}}</p>
        <p>Đã Qua Đời: {{employee.isDead}}</p>
        <p>Tuổi Qua Đời: {{employee.death_age}}</p>
        <p>Nguyên Nhân Qua Đời: {{employee.deathCause}}</p>
        <p>Danh Sách Bệnh Thân Nhân {{i +1}}</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nhóm Bệnh</th>
              <th scope="col">Tên Bệnh</th>
              <th scope="col">Tuổi Lúc Chuẩn Đoán </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employee.illnessRelative">
              <td>{{employee.code ||"Chưa cập Nhật"}}</td>
              <td *ngIf="employee.illName !== 'Khác' "> {{employee.illName||"Chưa cập Nhật"}} </td>
              <td *ngIf="employee.illName === 'Khác' "> {{employee.illNameOther||"Chưa cập Nhật"}} </td>
              <td>{{employee.age_detected||"Chưa cập Nhật"}}</td>
        
            </tr>
            
          </tbody>
        </table>
      </div>
</div>
