<p> Họ Và Tên: {{this.personDetail.firstName + this.personDetail.lastName || "Chưa Cập Nhật"}}  </p>
<p> Giới Tính:  </p>
<p> CMND/CCCD: </p>
<p> Số Điện Thoại:  </p>
<p> Email: {{this.personDetail.email}} </p>
<p> Chiều Cao: </p>
<p> Cân Nặng:  </p>
<p> Sinh Đôi:  </p>
<p> Được Nhận Nuôi: </p>
<p> Tuổi Có Kinh Đầu:  </p>
<p> Số Lần Mang Thai  </p>
<p> Khoảng Thời Gian Dùng Thuốc Tránh Thai: </p>
<p> Tuổi Có con Đầu Tiên:  </p>
<p> Hút Thuốc:  </p>
<p> Từng Hút Thuốc Năm Bao Nhiêu Tuổi: </p>
<p> Bỏ Thuốc Năm Bao Nhiêu Tuổi:  </p>
<p> Mỗi Tuần Uống Bao Nhiêu Ly Rượu:  </p>
<p> Số lần Tập Thể Dục Mỗi Tuần: </p>
<p>Bộ Môn Thể Thao: </p>
