:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #0f172a;
  }



// .list-phone{
//   display: flex;
//   flex-direction: row;
//   list-style: none;
// }

// .list-phone li{
//   margin: 2px;
//   padding: 16px;
//   background-color:rgb(16, 107, 187);
// }