<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Person ID</th>
            <th scope="col">Họ Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Giới Tính</th>
            <th scope="col">Chỉnh Sửa Lần Cuối</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of data | paginate:{
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count }" >
            <td>{{employee.appID }}</td>
            <td>{{employee.lastName  + employee.firstName ||"Chưa cập Nhật"}}</td>
            <td>{{employee.email||"Chưa cập Nhật"}}</td>
            <td>{{employee.gender||"Chưa cập Nhật"}}</td>
            <td>{{employee.updateAt||"Chưa cập Nhật"}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee" [routerLink]="['/person', employee.username]" >View Detail</button>
            </td>
      
          </tr>
          
        </tbody>
        
      </table>
      <div class="page">

        <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
      </div>
    </div>
  </div>




