<h1>THÔNG TIN THÂN NHÂN</h1>
<div class="radio-group" *ngFor="let obj of list_of_relationship; let i = index">
    <h1>Thông tin cơ bản</h1>
    <mat-form-field class="margin-right-40">
        <mat-label>Thân nhân</mat-label>
        <mat-select [(ngModel)]="list_of_relationship[i].relationship"
                        (selectionChange)="selectRelation(list_of_relationship[i].relationship)">
            <mat-option *ngFor="let option of relationships" [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field class="margin-right-40" >
        <mat-label>Họ và tên</mat-label>
        <input type="text" matInput name="ten" [(ngModel)] = "list_of_relationship[i].firstName"/>
    </mat-form-field>

 
    <mat-radio-group aria-label="Select an option" [(ngModel)] = "list_of_relationship[i].sex" >
        <mat-radio-button class="margin-right-40"  *ngFor="let sex of list_of_sex" [value]="sex">
            {{sex}}
        </mat-radio-button>
    </mat-radio-group>
    
    <mat-form-field class="margin-right-40">
        <mat-label> Số CMND/CCCD/Passport  </mat-label>
        <input  matInput placeholder="Số CMND/CCCD/Passport"  />
    </mat-form-field>


    <mat-form-field class="margin-right-40">
        <mat-label>Tuổi hiện tại</mat-label>
        <input class="width-100" type="text" matInput />
    </mat-form-field>

    <mat-form-field class="margin-right-10" >
        <mat-label>Thứ tự trong gia đình</mat-label>
        <mat-select name="selected_orderFamily" [(ngModel)]="list_of_relationship[i].orderFamily" >
            <mat-option *ngFor="let order of orderFamily_option" [value]="order">
                {{ order}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field  *ngIf="list_of_relationship[i].orderFamily === 'Khác'">
        <mat-label>Vd: Con tư, con năm,...</mat-label>
        <input type="text" matInput />
    </mat-form-field>

    <mat-form-field class="margin-right-40" *ngIf="list_of_relationship[i].relationship === 'Anh/em họ' || list_of_relationship[i].relationship === 'Chị/em họ' ">
        <mat-label>Con của</mat-label>
        <mat-select  >
            <mat-option *ngFor="let option of list_of_parent_nephew" [value]="option">
                {{ option}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <section  [formGroup]="addmoreIllRelative">
        <h1>Thông tin sức khỏe</h1>
        <p>Trong danh sách bên dưới, hãy chọn Bệnh hoặc Tình trạng (nếu có). Sau đó chọn Độ tuổi lúc Chẩn đoán. Bạn có thể lặp lại quá trình này nếu cần.</p>
        <div formArrayName="itemRowIllRelatives">

            <div *ngFor="let itemrow of itemRowIllRelatives.controls; let i=index"  [formGroupName]="i">
                <mat-form-field class="example-full-width margin-right-40">
                    <mat-label>Nhóm bệnh</mat-label>
                    <mat-select formControlName="illGroup" >
                        <mat-option *ngFor="let option of illNessGroup" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="example-full-width margin-right-10" *ngIf="itemRowIllRelatives.controls[i].value.illGroup !== 'Khác'">
                    <mat-label>Tên Bệnh</mat-label>
                    <mat-select formControlName="illName" >
                        <mat-option *ngFor="let option of ill" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field  *ngIf="itemRowIllRelatives.controls[i].value.illGroup === 'Khác'">
                    <mat-label>Tên Bệnh</mat-label>
                    <input formControlName="illName" type="text" matInput />
                </mat-form-field>
    
                <label class="margin-right-10"> Tuổi lúc chuẩn đoán </label>
                <mat-form-field class="margin-right-10 width-100">
                    <input type="text" matInput formControlName="illAge" />
                </mat-form-field>
                <button (click)="addNewRowIllRelative()" mat-mini-fab>+</button>
                    <button *ngIf="itemRowIllRelatives.controls.length > 1" (click)="deleteRowIllRelative(i)" mat-mini-fab>-</button>
                <div>
                    <mat-label class="margin-right-40"> Đã Qua Đời </mat-label>
                    <mat-checkbox class=" margin-right-40" formControlName="dead" ></mat-checkbox>
                    
                    <mat-form-field  *ngIf="itemRowIllRelatives.controls[i].value.dead">
                        <mat-label>Tuổi Qua Đời</mat-label>
                        <input formControlName="deadAge" type="text" matInput />
                    </mat-form-field>
                    
                    
                </div>

            </div>

        </div>


    </section>
</div>
<button mat-raised-button color="success" (click)="addNewRelation()" class="margin-right-10">Thêm</button>
<button mat-raised-button color="warn" (click)="removeRelation()" class="margin-right-10">Xoá</button>