<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-header">
        <div class="container-fluid">
            <button class="navbar-toggler ms-auto border-white border text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto my-3 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link">Đăng nhập</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Về Chúng Tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin Tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tài Nguyên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên Hệ</a>
                    </li>
                </ul>
                <div class="search">
                    <mat-icon class="search_icon">search</mat-icon>
                    <span style="padding-right: 7px; font-size: 1.2rem; color: #ffff">
            |</span
          >
          <input
            class="input_search w-75"
            type="text"
            placeholder="Tìm Kiếm..."
          />
        </div>
      </div>
    </div>
  </nav>
  <!-- end of header -->

  <div class="container-fluid bg-header-bottom header-bottom">
    <div class="row py-2 align-items-center">
      <div class="col-12 col-lg-2 text-center text-white mb-3 mb-lg-0 left">
        <div class="fw-bold title">Gia Sử Sức Khoẻ</div>
        <hr class="my-1" />
        <span>GSSK- Quá Khứ Dự Báo Tương Lai </span>
                </div>
                <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                    <ul class="text-white list-unstyled d-flex nav-menu justify-content-between w-100 mx-auto mb-0">
                        <li>
                            <a routerLink="input-information" class="text-decoration-none text-white current">Gia Sử Sức Khoẻ</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Bệnh Di Truyền</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Tư Vấn Di Truyền</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Xét Nghiệm Di truyền</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-2 d-flex justify-content-between">
        <div id="logo">
          <img
            src="https://suckhoeditruyen.vn/wp-content/uploads/2017/01/MGI_2017101102-e1484030626154.png"
            alt="logo"
            style="width: 100px"
          />
        </div>
        <img
          src="https://res.cloudinary.com/mp-cloud/image/upload/v1652377582/Rectangle_8467_1_b8fqtk.png"
          alt="logo-GSSK"
          style="height: 54px; width: 60px"
        />
      </div>
    </div>
  </div>
  <!-- end of menu -->

  <app-carousel [images]="images" [autoSlide]="true"></app-carousel>

  <hr class="style-seven" />
  <div class="menu-section container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="btn-menu-section">
          <div class="btn-section mb-3">
            <button>Cơ bản</button>
            <button>Công Cụ</button>
            <button>Tư Vấn Di Truyền</button>
            <button>Hỏi Đáp</button>
          </div>
          <div class="des-section ps-0">
            <div>
              <h2>GSSK/Cây gia hệ</h2>
              <hr />
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat, vel
                illum dolore.<br />
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat, vel
                illum dolore.<br />
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat, vel
                illum dolore.<br />
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat, vel
                illum dolore.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <img
          src="https://res.cloudinary.com/mp-cloud/image/upload/v1652376594/Rectangle_8474_rrhuoa.png"
          alt="anh"
        />
      </div>
    </div>
  </div>

  <h6 class="title-action">CÁC HOẠT ĐỘNG CỦA CHÚNG TÔI</h6>
  <app-carousel-action
    [actions]="images"
    [autoSlide]="true"
  ></app-carousel-action>

  <div class="location">
    <div class="container">
      <h4>TÌM TƯ VẤN DI TRUYỀN Ở ĐÂU?</h4>
      <div class="location-map">
        <img
          src="https://res.cloudinary.com/mp-cloud/image/upload/v1652376594/Group_nfb8e7.png"
          alt="map-vietnam"
        />
        <div class="list-location">
          <i class="fa-solid fa-location-dot"></i>
          <div class="text text-center text-lg-left mt-4 mt-lg-0 mb-3 mb-lg-0">
            Vui Lòng Chọn Khu Vực:
          </div>
          <div>
            <mat-form-field class="option-location margin-right-40">
              <mat-select>
                <mat-option *ngFor="let option of locationMap" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="list-location-next">
              <ul>
                <li>
                  Viện Di truyền Y học <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Công ty Cổ phần Giải pháp Gene
                  <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Bệnh viện Từ Dũ <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Bệnh viện Đại học y dược <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Bệnh viện Hùng Vương <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Đại học y dược <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Khoa Thương <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Iso Lab <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Bệnh viện DNA <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
              </ul>
              <ul>
                <li>
                  Bệnh viện Tâm Anh HCM <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Nam khoa <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
                <li>
                  Bệnh viện Sản nhi An Giang <i class="fas fa-angle-right"></i>
                  <hr />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sponsors">
    <button>Đơn Vị Ảnh Hưởng</button>
    <button>Đơn vị Tài Trợ</button>
  </div>
  <app-carousel-sponsors [sponsors]="images" [autoSlide]="true">
  </app-carousel-sponsors>

  <div id="footer_layout" class="py-3" style="margin-top: 100px">
    <div class="container">
      <div class="row wrap-footer">
        <div class="col-12 col-lg-6">
          <div id="footer_des">
            <div>
              © 2020 Bản quyền thuộc Viện Di truyền Y học - Gene Solutions
            </div>
            <span>186 - 188 Nguyễn Duy Dương, Phường 3, Quận 10, TP.HCM</span>
            <span>Điện thoại: 028 6660 8050 - 028 7101 8688</span>
            <span>Email: gssk@suckhoeditruyen.vn </span>
          </div>
        </div>
        <div class="col-12 col-lg-4 my-3 my-lg-0">
          <ul class="list_icon">
            <li>
              <a href="#" class="current text-white text-decoration-none"
                >Chính sách quyền riêng tư</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none"
                >Giải pháp Gen cho người Việt - Gene Solutions</a
              >
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2">
                    <div id="social">
                        <mat-icon style="color: #ffff">facebook</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- end of menu -->
</body>